<?xml version="1.0"?>
<configuration>
  <system.web>

	  <authorization>
		  <deny users="?"/>
	  </authorization>
	  
  </system.web>

	<connectionStrings>
		<add name="CS" connectionString="data source = .\SQLEXPRESS; database = CarlosFerreira_Project; Integrated Security = true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>
