USE [Project]
GO
/****** Object:  StoredProcedure [dbo].[spGetAll]    Script Date: 21/11/2020 14:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[spGetAll]
AS
BEGIN
	SELECT Users.Id, Users.Username, Users.Email, Users.IsActive, Users.IsBlocked
	FROM Users
END