<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RecipesSite.WFApp.Properties.Settings.ProjectConnectionString"
            connectionString="Data Source=DESKTOP-JN31U5B\SQLEXPRESS;Initial Catalog=CarlosFerreira_Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>