<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="RecipesSite.Data.Properties.Settings.CS" connectionString="DATA SOURCE=.\SQLEXPRESS; DATABASE=CarlosFerreira_Project; INTEGRATED Security=True;" />
 </connectionStrings>
</configuration>